@charset "UTF-8";

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: left;
}

h1 {
    text-align: left;
}

img {
    width: 250px;
}

.tabela_alunos {
    width: fit-content;
}

table {
    margin-left: 10px;
    float: right;
    border-collapse: collapse;
}

p {
    display: block;
}

th, td {
    border: 1px solid black;
    padding: 4px 6px;
    width: 70px;
    text-align: left;
}
