@charset "UTF-8";

*{
    padding: 0%;

    margin: 0%;

    box-sizing: border-box;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: antiquewhite;
}

div.container {
    width: 80%;
    max-width: 1500px;


    margin: 0px auto;
    padding: 20px;

    border-radius: 15px;

    display: flex;

}

h1 {
    margin: 30px 0px;
    text-align: center;

    color: rgb(139, 115, 84);

    cursor: default;
}

h1:hover {
    text-decoration: underline;
    color: rgb(99, 82, 60);
}

h2 {
    text-align: center;
    color: rgb(139, 115, 84);

    border-bottom: 1px dashed rgb(139, 115, 84);
    padding-bottom: 10px;
}

div.lugares {
    width: 50%;

    max-width: 800px;
}

div.cards {
    border-radius: 15px;
    padding: 10px 20px 20px 20px;
    
    background-color: white;

    margin-bottom: 40px;

    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.205);
}

.cards > p {
    margin-top: 20px;
}

div.conteudo {
    display: flex;

    align-items: center;
}

.cards h2 {
    margin: 10px 0px 20px 0px;
}

div.conteudo img {
    width: 200px;
    border-radius: 10px;
}

div.conteudo p {
    margin-left: 15px;
}

div.aside {
    border-radius: 15px;

    padding: 20px;
    
    background-color: white;

    height: fit-content;

    margin: 0px auto;

    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.205);

    width: 40%;
}

.aside ol {
    margin: 10px;
}

.aside ol li {
    margin: 0px 0px 10px 20px
}

footer {
   color: rgb(139, 115, 84);

   font-weight: bold;

   font-size: 18px;

   padding: 20px 0px;

   text-align: center;

   
}

footer a {
    text-decoration: none;
    color: rgb(139, 115, 84);

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1200px) {
    div.conteudo {
        flex-direction: column;

        align-items: normal;
    }

    div.lugares {
        width: 100%;
    }

    div.conteudo img {
        width: 60%;

        height: auto;

        margin: 20px auto;
    }

    div.container {
        flex-direction: column;

        width: 100%;

        margin: 0%;
        
        align-items: center;
    }

    div.aside {
        width: 80%;
    }
}