@charset "UTF-8";

body {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.box {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.171);
    width: fit-content;

    margin: auto;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 5px 4px;
    text-align: center;
}

th {
    color: white;
    background-color: rgb(74, 131, 51);
}